/*CSS reset*/
/*From https://piccalil.li/blog/a-more-modern-css-reset/*/

/* Box sizing rules */
/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/

/*!* Prevent font size inflation *!*/
/*html {*/
/*    -moz-text-size-adjust: none;*/
/*    -webkit-text-size-adjust: none;*/
/*    text-size-adjust: none;*/
/*}*/

/*!* Remove default margin in favour of better control in authored CSS *!*/
/*body, h1, h2, h3, h4, p,*/
/*figure, blockquote, dl, dd {*/
/*    margin-block-end: 0;*/
/*}*/

/*!* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed *!*/
/*ul[role='list'],*/
/*ol[role='list'] {*/
/*    list-style: none;*/
/*}*/

/*!* Set core body defaults *!*/
/*body {*/
/*    min-height: 100vh;*/
/*    line-height: 1.5;*/
/*}*/

/*!* Set shorter line heights on headings and interactive elements *!*/
/*h1, h2, h3, h4,*/
/*button, input, label {*/
/*    line-height: 1.1;*/
/*}*/

/*!* Balance text wrapping on headings *!*/
/*h1, h2,*/
/*h3, h4 {*/
/*    text-wrap: balance;*/
/*}*/

/*!* A elements that don't have a class get default styles *!*/
/*a:not([class]) {*/
/*    text-decoration-skip-ink: auto;*/
/*    color: currentColor;*/
/*}*/

/*!* Make images easier to work with *!*/
/*img,*/
/*picture {*/
/*    max-width: 100%;*/
/*    display: block;*/
/*}*/

/*!* Inherit fonts for inputs and buttons *!*/
/*input, button,*/
/*textarea, select {*/
/*    font-family: inherit;*/
/*    font-size: inherit;*/
/*}*/

/*!* Make sure textareas without a rows attribute are not tiny *!*/
/*textarea:not([rows]) {*/
/*    min-height: 10em;*/
/*}*/

/*!* Anything that has been anchored to should have extra scroll margin *!*/
/*:target {*/
/*    scroll-margin-block: 5ex;*/
/*}*/

body {
    background-color: #fbf9e8;
    color: #191919;
}

.type {
    font-family: monospace;
    color:#0000;
    white-space-collapse: preserve-spaces;
    background:
            linear-gradient(-90deg,#191919 1px,#0000 0) 4px 0,
            linear-gradient(#191919 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation:
            b 1s calc(var(--n)*.14s) infinite steps(1),
            t calc(var(--n)*.14s) steps(var(--n)) forwards;
}

@keyframes t{
    from {background-size:0 200%}
}
@keyframes b{
    50% {background-position:0 -100%,0 0}
}